@import './variables';

.footer {
    grid-area: $footer;
    color: $colorWhitish;
    background-color: $colorBlackish;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        margin-left: -1rem;
        margin-right: 3rem; 

        li {
            font-size: $icon * 1.4;
        }
    }

    p {
        text-align: center;
    }

    @include desktop {    
    }

    @include tablet {    
    }

    @include phone {

    };
};