@import './variables';

// MXINS

// Nicely centered background image
@mixin centeredBackgroundImage() {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Template for a single About Box
@mixin aboutBox() {
    h3 {
        margin-left: 3rem;
        font-size: 2rem;

        &::after {
            margin-right: 3rem;
            width: 30rem;
            display: block;
            height: 0.2rem;
            background-color: #333333;
            content: " ";
            // margin: 0 auto;
            margin-top: 1rem;
        }
    }
}

// GRID TEMPLATE
@mixin gridMobileTemplate () {

}

// BEARKPOINTS
@mixin phone {
    font-size: $phone-font-size;

    @media (max-width: $tablet-width - 1px) {
        @content;
    }
}

@mixin tablet {
    font-size: $tablet-font-size;

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
        @content;
    }
}

@mixin desktop {
    font-size: $desktop-font-size;

    @media (min-width: $desktop-width) {
        @content;
    }
}

// ANIMATIONS & KEYFRAMES
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

// CLEARFIX
%clearfix {
    *zoom: 1;
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
}

// VISUALLY HIDE THE ELEMENT
%visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

// SET A REM FONT SIZE WITH PIXEL FALLBACK
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
  }
  
  @mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}