@import './variables';

// MXINS

// Grid Template 
@mixin gridTemplate($numberOfColumns, $margin, $gutter, $backgroundColor) {
    background-color: $backgroundColor;
    grid-template-columns: [first] $margin - $gutter / 2 repeat($numberOfColumns, $gutter / 2 [col-start] auto [col-end] $gutter / 2) $margin [end];
    grid-template-rows: repeat(100, [row-start] 1.2rem [row-end]);;
}

@mixin phone {
    @media (max-width: $tablet-width - 1px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

  