@import './variables';

@mixin navigationIcon($marginRight, $marginLeft) {    
    margin-top: 1rem;
    font-size: $icon;
    margin-right: $marginRight;     
    margin-left: $marginLeft;     
}

.navigation-logo {
    grid-area: $navigationLogo;
    background-color: $colorWhitish;
    color: $colorBlackish;
    grid-column: 1/end;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        height: 100%;
        display: flex;

        li {
            display: inline-block;
        }
    }

    .navigation-logo__basket-icon {
        float: left;     
    }

    .navigation-logo__logo {
        width: 100%;
        text-align: center;
        font-weight: 700;
    }

    .navigation-logo__burger-icon {
        float: right;
    }

    @include desktop {    
        ul {
            margin-right: 5rem;
        };
    }

    @include tablet {    
        ul {
            margin-right: 5rem;
        };
    }

    @include phone {
        padding: 1.8rem 0;    
    
        .navigation-logo__basket-icon {
            @include navigationIcon(0rem, 2rem);
        };

        .navigation-logo__logo {
            padding: 0.1rem;
            font-size: 2.8rem;
        };
    
        .navigation-logo__burger-icon {
            @include navigationIcon(2rem, 0rem);
        };
    };
};
