@import './variables';

.navigation-login {
    grid-area: $navigationLogin;
    background-color: $colorBlackish;
    color: $colorWhitish;

    ul {
        display: flex;
        float: right;
        margin: 0rem;
    };

    @include desktop {    
        ul {
            margin-right: 5rem;
        };
    }

    @include tablet {    
        ul {
            margin-right: 5rem;
        };
    }

    @include phone {    

        ul {
            margin-right: 2.5rem;
            padding: 0.2rem 0;

            li:first-of-type {
                margin-right: 4rem;
            };
        };
    };
};


