@import './variables';

.promotion-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.905)), url(img/zara-stylish-photo.jpg);
    background-color: rgb(108,92,74);
    @include centeredBackgroundImage();

    grid-column: 1/end;
    color: $colorWhitish;
    // display: flex;
    // flex-direction: column;

    .promotion-section__title {
        font-weight: 400;
        display: inline-block;
        width: 90%;
    }


    @include desktop {    
    }

    @include tablet {    
    }

    @include phone {    
        grid-row: 131/152;

        .header-section__title {
            margin-top: 20rem;
            margin-left: 2rem;
            font-size: 300rem;
        }
    };
};