@import './variables';

.results-section {
    grid-area: $results;
    color: $colorBlackish;
    display: flex;
    flex-direction: column;

    .results-section__sortBy {
        margin: auto;
    }

    @include desktop {    
    }

    @include tablet {    
    }

    @include phone {    

        .results-section__sortBy {
            margin: 2rem auto;
            width: 90%;
        }

        .results-section__row {
            margin: 0 2rem;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
            row-gap: 1.5rem;
            grid-template-areas: "#{$shoppingElement0} #{$shoppingElement1}";
        }
    };
};