@import './variables';

.shopping-page {
    display: grid;
    background-color: $colorWhitish;
    
    @include desktop {    
    }
    
    @include tablet {    
    }
    
    @include phone {    
        grid-template-rows: 2.5rem 7rem auto auto auto auto auto;
        grid-template-columns: 100%;

        grid-template-areas:
            "#{$navigationLogin}" 
            "#{$navigationLogo}" 
            "#{$header}"
            "#{$results}"
            "#{$about}"
            "#{$footer}"
        ;
    }
}