// VARIABLES OF SASS

// Theme Colors
$colorWhitish : #f2f2f2;
$colorBlackish: #333333;

// Tablet & Desktop & Phone widths / fonts-sizes.
$phone-font-size: 1.4rem;
$tablet-width: 415px;
$tablet-font-size: 1.6rem;
$desktop-width: 1440px;
$desktop-font-size: 1.8rem;

// Icons 
$icon: 2rem;

// Grid Area Elements 
$shoppingElement0: shopEl0;
$shoppingElement1: shopEl1;
$shoppingElement2: shopEl2;